@charset "ISO-8859-1";

body{
	font-family: Arial, Helvetica;
	height: 100vh;
}

.titre{	
	height : 100%;
	width : 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre h1{
	font-size: 2em;
	margin-bottom: 450px;
}

#menu{
	position: fixed;
	text-align: center;
	width : 100%;
	background-color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}